@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-weight: 300;
}

body {
    width: 100%;
    height: 100%;
    background: #faf7f0;
    margin: 0;
}
h1 {
    margin: 0;
}

#content, .photo-container {
    width: 80%;
    height: auto;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header-partition {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
header img {
    height: 5rem;
    width: 10rem;
    background: transparent;
}
#cart {
    position: absolute;
    top: 4%;
    right: 10%;
    height: 25px;
    width: 25px;
    fill: #044325;
}
#cart:hover {
    fill: #02bbe0;
    transition: 150ms ease-in-out;
}
.h1-theme {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.75em;
    color: #044325;
    padding: 2% 0;
}
button:hover {
    color: #018545;
    transition: 200ms ease-in-out;
}
nav {
    display: flex;
    width: 80%;
    margin: 0 10%;
    justify-content: space-between;
}
.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(1, 160, 149, 0.454);
  transition: 200ms ease-in-out;
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/* Welcome box border styles */

.welcomeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10%;
    padding: 5%;
    width: auto;
    background-color: #fefefe;
    border-radius: 10px;
}
.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 5% 0;
    height: auto;
    transition: 300ms ease-in-out;
    transform: scale(1);
}
.photo-container:hover {
    scale: 1.05;
    transition: 300ms ease-in-out;
}
.photo-container img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10%;
    width: auto;
    background-color: #fefefe;
    border-radius: 10px;
}
.text-block h2, .text-block p {
    font-size: 1.25rem;
    margin: 1%;
    padding: 2%;
}
.item-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50%;
    border: 1px solid rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fefefe;
    border-radius: 10px;
}
.item-container > * {
    margin: 0;
}
.item-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 5% 0;
}
.item-container button {
    margin: 3%;
}
#contact-info-box {
    margin-top: 8%;
}
#contact-header {
    border-bottom: #044325 2px solid;
}

@media only screen and (min-width: 620px) {
    .welcomeBox {
        width: 50%;
        margin: 5% 25% 0 25%;
        padding: 10px;
    }
    nav {
        width: 50%;
        margin: 0 25%;
    }
    .photo-container img {
        height: 350px;
        width: 350px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .item-container {
        height: 100%;
        border: 1px solid rgb(248, 248, 248);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #fefefe;
        border-radius: 10px;
    }
    #items-grid {
        display: grid;
        width: 90%;
        margin: 5%;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .item-container {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media only screen and (min-width: 900px) {
    .welcomeBox {
        width: 40%;
        margin: 2.5% 30% 0 30%;
        padding: 10px;
    }
    nav {
        width: 30%;
        margin: 0 25%;
    }
    .photo-container {
        padding: 0;
        margin-top: 2.5%;
    }
    .photo-container img {
        height: 500px;
        width: 500px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .text-block {
        margin-top: 5%;
    }
    .text-block > * {
        margin: 0;
    }
    #items-grid {
        display: grid;
        width: 80%;
        margin: 5% 10%;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .item-container {
        grid-column: span 1;
        grid-row: span 1;
    }
}